.CTAWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 568px;
}

.CTAContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  gap: 3rem;
}
