@import '../../settings/variables.scss';

.reviewItemWrapper {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  @include responsive(mobile) {
    padding: 2rem 5rem;
  }
}
