@import 'settings/variables.scss';

.logosWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  @include responsive(mobile){
    flex-direction: row wrap;
    padding: 0rem;
    gap: 1rem;
    img{
      max-width: 2rem;
    }
  }
}
