@import '../../styles/colors.module.scss';
@import '../../settings/variables.scss';

.pricingHeader {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid lightgray;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 0 20px 30px;

  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }

  @include responsive(mobile){
    padding: 10px 0 5px 10px;
  }
}

.pricingContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 30px 20px 30px;
  @include responsive(mobile){
    gap: 0;
  }
}

.pricingFeatures {
  display: flex;
  gap: 30px;
  flex-flow: column wrap;
  @include responsive(mobile){
    gap: 0;
  }
}

.pricingDescription {
  text-align: center;
  margin: 20px 0px;
}

.pricingFooter {
  display: flex;
  align-items: center;
  gap: 4rem;
  text-align: center;
  flex-flow: column wrap;
  @include responsive(mobile){
    gap: 0;
  }
}
