@import '../../settings/variables.scss';

$heightInput: 72px;

input {
  background-color: white;
  width: 100%;
  color: $primaryColor;
  padding: 0 20px;
  min-height: $heightInput;
  border: 0px;
  box-sizing: border-box;
  @include responsive(mobile){
    padding: 0 0 0 1rem;
    box-sizing: border-box;
  }
}

textarea {
  background-color: white;
  color: $primaryColor;
  min-height: $heightInput*2;
  border: 0px;
  padding: 1rem 0 0 1rem;
}

.primary {
  background-color: #2b2e3c;
  color: $whiteColor;
}

.secondary {
  background-color: $whiteColor;
  color: $primaryColor;
}

.small {
  width: 303px;
  height: $heightInput;
}

.big {
  width: 576px;
  height: $heightInput;
}

.rounded {
  border-radius: 8px;
}
