@import '../../settings/variables.scss';

$heightInput: 72px;

input {
  background-color: white;
  color: $primaryColor;
  padding: 0 20px;
  border: 0px;
}

.primary {
  background-color: #2b2e3c;
  color: $whiteColor;
}

.secondary {
  background-color: $whiteColor;
  color: $primaryColor;
}

.small {
  width: 303px;
  height: $heightInput;
}

.big {
  width: 576px;
  height: $heightInput;
}

.rounded {
  border-radius: 8px;
}
