@import '../settings/variables.scss';

.primary {
  background-color: $primaryColor;
  color: $whiteColor;
}

.secondary {
  background-color: $whiteColor;
  color: $primaryColor;
}

.violet {
  background-color: $violetColor;
  color: $primaryColor;
}

.pink {
  background-color: rgba($color: $pinkColor, $alpha: 0.15);
  color: $primaryColor;
}

.blue {
  background-color: $blueColor;
}

.white {
  background-color: $whiteColor;
  color: $primaryColor;
}

.green {
  background-color: $greenColor;
  color: $primaryColor;
}

.orange {
  background-color: $orangeColor;
  color: $primaryColor;
}
