@import '../settings/variables.scss';

.primary {
  background-color: $primaryColor;
  color: $whiteColor;
}

.secondary {
  background-color: $whiteColor;
  color: $primaryColor;
}

.violet {
  background-color: $violetColor;
}

.pink {
  background-color: $pinkColor;
}

.blue {
  background-color: $blueColor;
}
