@import 'settings/variables.scss';

.main {
  height: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  @include fontStyle(3.5rem, 110%, 700);
}

h2 {
  @include fontStyle(3rem, 120%, 700);
}

h3 {
  @include fontStyle(2.25rem, 120%, 700);
}

h4 {
  @include fontStyle(1.5rem, 140%, 700);
}

h5 {
  @include fontStyle(1.125rem, 150%, 700);
}

h6 {
  @include fontStyle(1rem, 150%, 700);
}

p {
  @include fontStyle(1rem, 150%, 400);
}

span {
  @include fontStyle(1.5rem, 120%, 700);
  background: $labelGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
