@import 'settings/variables.scss';

.imgWrapper {
  display: flex;
  gap: 1.5rem;
  img{
    width: 6rem;
  }
  @include responsive(tablet){
    img{
      width: 15rem;
    }
  }
  @include responsive(pc){
    img{
      width: 100%;
    }
  }
}

.headerWrapper {
  p {
    max-inline-size: 60%;
    margin: 0 auto;
  }
}
