@import '../../settings/variables.scss';

.imgWrapper {
  display: flex;
  gap: 1.5rem;
  @include responsive(mobile){
    img{
      width: 6rem;
    }
  }
}

.headerWrapper {
  p {
    max-inline-size: 60%;
    margin: 0 auto;
  }
}
