@import 'settings/variables.scss';

.teamItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
  div {
    height: fit-content;
  }
  @include responsive(mobile){
    justify-content: center;
  }
}
