@import '../../settings/variables.scss';

.pricingFAQWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentFAQWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  @include responsive(mobile){
    gap: 1rem;
    text-align: center;
  }
}

.contentTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentQuestions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}
