@import 'settings/variables.scss';
@import 'styles/colors.module.scss';

$buttonHeight: 56px;

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: $primaryColor;
  color: $whiteColor;
  box-sizing: border-box;
}

.secondary {
  background-color: $whiteColor;
  color: $primaryColor;
  border: 2px solid $violetColor;
  box-sizing: border-box;
}

.hover{
  background-color: $hoverColor;
  color: $whiteColor;
  box-sizing: border-box;
}

.small {
  width: 128px;
  height: $buttonHeight;
}

.big {
  width: 171px;
  height: $buttonHeight;
}

.rounded {
  border-radius: 8px;
}
