@import '../../styles/colors.module.scss';
@import '../../settings/variables.scss';

.row {
  min-height: 568px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  box-sizing: border-box;
  @include responsive(mobile) {
    padding: 0 2rem;
  }
}

.center{
  align-items: center;
}

.fit {
  min-height: fit-content;
}

.blurGradient {
  background: $blurGradient;
  color: $primaryColor;
}
