@import '../../settings/variables.scss';

.twocolumns {
  display: flex;
  justify-content: center;
  height: 100%;
}

.columnWrapper {
  justify-content: center;
  gap: 2rem;
  flex: 1;
  display: flex;
  height: 100%;
  @include responsive(mobile) {
    flex-direction: column;
    img {
      max-width: 20rem;
    }
  }
}

.columnWrapper div {
  flex: 1;
}
