.twocolumns {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 3rem 0;
}

.columnWrapper {
  justify-content: center;
  gap: 2rem;
  flex: 1;
  display: flex;
  height: 100%;
}

.columnWrapper div {
  flex: 1;
}
