@import '../../settings/variables.scss';
@import '../../styles/colors.module.scss';
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.NavUl {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  gap: 20px;
}

.NavItem{
  list-style: none;
}

.NavItem a {
  text-decoration: none;
  color: $primaryColor;
}

.NavItem a:hover,
.NavItem a.active {
  color: $blueColor;
  transition: all 0.5s;
}