.nonBorderedItem div {
  border: none;
}

.borderedItem div {
  border-left: 1px solid black;
}

.borderedItem div:nth-child(1) {
  border-left: none;
}

.featuresWrapper {
  margin-top: 3rem;
}

.featureItemWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem;
  box-sizing: border-box;
}

.featureItemWrapper div {
  width: 500px;
}