.primary {
  background-color: #1d2130;
  color: #ffffff;
}

.secondary {
  background-color: #ffffff;
  color: #1d2130;
}

.violet {
  background-color: #e0e4fc;
  color: #1d2130;
}

.pink {
  background-color: rgba(215, 152, 225, 0.15);
  color: #1d2130;
}

.blue {
  background-color: #6b7cff;
}

.white {
  background-color: #ffffff;
  color: #1d2130;
}

.green {
  background-color: #d5f5ea;
  color: #1d2130;
}

.orange {
  background-color: #ffacac;
  color: #1d2130;
}

.blurGradient {
  background: radial-gradient(483.9% 2719.65% at -49.5% -250%, #d798e1 17.55%, #9bffa5 27.56%, #aed3ff 49.89%, #c9d4ef 56.53%, #cacffa 65.69%);
}

.labelGradient {
  background: -webkit-linear-gradient(53.94deg, #373fff 15.02%, #3acaf8 82.83%);
}

.card {
  border-radius: 24px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature {
  height: 100%;
  width: 100%;
  padding: 3rem 3rem 1rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.testimonial {
  height: 100%;
  width: 100%;
  border: 2px solid rgba(107, 124, 255, 0.3);
}

.question {
  height: 114px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 672px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 720px) {
  .question {
    width: 100%;
  }
  .question h4 {
    font-size: small;
  }
  .question p {
    font-size: small;
  }
}

.questionExpand {
  height: 178px;
  padding: 40px 20px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 672px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 720px) {
  .questionExpand {
    width: 100%;
  }
  .questionExpand h4 {
    font-size: small;
  }
  .questionExpand p {
    font-size: small;
  }
}

@media only screen and (max-width: 720px) {
  .questionExpand {
    max-height: 100%;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.pricing {
  width: 100%;
  height: 714px;
  border: 4px solid transparent;
}

@media only screen and (max-width: 720px) {
  .pricing {
    height: 514px;
  }
}

.pricingSelected {
  width: 100%;
  height: 714px;
  border: 4px solid transparent;
  border: 4px solid #6b7cff;
  background: transparent;
}

@media only screen and (max-width: 720px) {
  .pricingSelected {
    height: 514px;
  }
}

.faq {
  width: 1280px;
  height: 100%;
}

@media only screen and (max-width: 720px) {
  .faq {
    width: 100%;
  }
}

.team {
  width: 264px;
  height: 808px;
}

.full {
  width: 100%;
}

.fit {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.pink {
  background-color: rgba(215, 152, 225, 0.15);
}
/*# sourceMappingURL=Card.module.css.map */