@import '../../settings/variables.scss';
@import '../../styles/colors.module.scss';

.card {
  display: flex;
  border-radius: 24px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.big {
  height: 344px;
  width: 1280px;
}

.small {
  height: 404px;
  width: 411px;
}

.fit {
  max-width: fit-content;
}

.pink {
  background-color: $pinkColor;
  opacity: 15%;
}
