@import '../../styles/colors.module.scss';

.circleCard {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
}

.medium {
  width: 48px;
  height: 48px;
}

.small {
  height: 24px;
  width: 24px;
}
