@import 'settings/variables.scss';

.TrialFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  min-height: 100%;
  max-width: 64rem;
  img{
    max-width: 100%;
  }
  @include responsive(pc) {
    img{
      max-width: fit-content;
    }
  }
}

.TrialFormContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 24rem;
  gap: 2rem;
  margin: 0;
  @include responsive(tablet) {
    max-width: 36rem;
  }
  @include responsive(pc) {
    max-width: 48rem;
  }
}
