@import 'styles/colors.module.scss';
@import 'settings/variables.scss';

.wrapper{
  min-height: 888px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: $blurGradient;
}

.titleWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  h1 {
    width: 55%;
  }
  @include responsive(mobile){
    h1 {
      width: 90%;
      margin-top: 1rem;
    }
  }
}

.featuresCard {
  background-color: rgba($color: white, $alpha: 0.7);
  border-radius: 0 5rem 0 0;
  margin-top: 3rem;
  max-width: 85rem;
  height: 37.25rem;
  padding: 6rem 4rem;
  box-sizing: border-box;
  @include responsive(mobile){
    height: 100%;
  }
}
