.titleWrapper {
  text-align: center;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  h1 {
    width: 55%;
  }
}

.featuresCard {
  background-color: rgba($color: white, $alpha: 0.7);
  border-radius: 0 5rem 0 0;
  margin-left: -3rem;
  margin-bottom: -3rem;
  margin-top: 3rem;
}
